<launch>

    <include file="$(find espeleo_description)/launch/espeleo_description.launch"/>
  
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" />
    <node name="espeleo" pkg="espeleo_bringup" type="dyn_reconfigure_server.py" respawn="true" />
    <include file="$(find espeleo_locomotion)/launch/espeleo_locomotion_differential.launch"></include>

    <rosparam file="$(find espeleo_vrep_simulation)/cfg/espeleo_sim_parameters.yaml" command="load" ns=""/>

</launch>


